@use '../../../src/assets/styles/variables' as *;
@use '../../../src/assets/styles/mixins/media-queries' as *;

.vote {
  margin-top: 40px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto 20px;
  max-width: $tablet;

  @include desktop {
    display: flex;
    gap: $x3;
    flex-direction: row;
  }
}

.result {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ffcb3b;
}

.action {
  display: flex;
  gap: $x2;
  justify-content: center;
}
