@use '../../assets/styles/variables' as *;
@use '../../../src/assets/styles/mixins/button' as *;

.form {
  max-width: 400px;
  margin: 0 auto;
  gap: $x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  min-width: 400px;
  background-color: white;
  color: $color-bg-dark-blue;
  padding: $x;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
}

.button {
  margin-top: $x2;
  @include button;
  @include button-arrow;
}

.group {
  display: flex;
  gap: $x2;
}

.error {
  font-size: 10px;
  color: red;
}
