@use '../../../src/assets/styles/mixins/media-queries' as *;

.card {
  background: #fbfbfc;
  color: #0f172a;
  padding: 40px;
  cursor: pointer;
  transition: .2s;
  border: solid 2px #0f172a;

  img {
    transition: .2s;
  }

  &:hover {
    border-color: #ffce38;

    img {
      @include desktop {
        transform: scale(1.05);
      }
    }
  }
}

.imgContainer {
  overflow: hidden;
  max-width: 160px;
  min-height: 160px;
}

.votes {
  font-weight: bold;
}
