@use '../../assets/styles/variables' as *;

* {
  transition: .2s;
}

.nav {
  display: flex;
  justify-content: center;
  gap: $x2;
  margin-top: $x4;
}

.navLink {
  cursor: pointer;

  &:hover {
    color: yellow;
  }
}

.isActive {
  color: yellow;
}
