@use '../../../src/assets/styles/variables' as *;

.switcher {
  display: flex;
  gap: $x;
  color: #ccc;
}

.item {
  cursor: pointer;
  transition: .2s;

  &.isActive,
  &:hover {
    color: $color-blue;
  }
}
