@use '../../../src/assets/styles/variables' as *;

.switcher {
  display: flex;
  gap: $x;
  margin-bottom: $x2;
}

.item {
  cursor: pointer;
  transition: .2s;

  &.isActive,
  &:hover {
    color: $color-blue-gray;
  }
}
