@use '../../../src/assets/styles/variables' as *;

.fav {
  padding: $x3;
}

.favItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  font-size: 12px;

  &:not(&:last-child) {
    margin-bottom: $x;
  }
}
