@use '../../../src/assets/styles/variables' as *;

.formItem {
  position: relative;
  margin-bottom: $x3;
}

.error {
  font-size: 10px;
  letter-spacing: 0;
  color: red;
  position: absolute;
  bottom: -12px;
  left: $x;
  line-height: 1;
}
