@use '../../../src/assets/styles/variables' as *;
@use '../../../src/assets/styles/mixins/media-queries' as *;

.container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    gap: calc($x5 * 3);
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
  }

  @include desktop-lg {
    gap: calc($x5 * 5);
  }
}
