@use '../../../src/assets/styles/variables' as *;
@use '../../../src/assets/styles/mixins/media-queries' as *;

.container {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    gap: calc($x5 * 2);
    align-items: flex-start;
    text-align: center;
  }
}

.steps {
  @include tablet {
    max-width: 650px;
  }
}
