@use './variables' as *;

body {
  font-family: 'Inter', sans-serif;
  background: $color-bg-dark-blue;
  color: $color-text-lite;
  min-height: 100vh;
  font-weight: normal;
  text-rendering: optimizeSpeed;
}

.counter {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
