@use './variables' as *;
@use './mixins/media-queries' as *;

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  font-weight: normal;
  text-rendering: optimizeSpeed;
}

.counter {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: $x3*3;

  @include desktop {
    width: 250px;
  }
}

.link {
  color: #64748B;
  transition: .2s;

  &:hover {
    color: white;
  }

  &.active {
    color: white;
  }
}

