@use './variables' as *;
@use './mixins/media-queries' as *;

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  font-weight: normal;
  text-rendering: optimizeSpeed;
}

.counter {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.aside {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: $x3*3;

  @include desktop {
    width: 250px;
  }
}

.link {
  color: #64748B;
  transition: .2s;

  &:hover {
    color: #1890ff;
  }

  &.active {
    color: #1890ff;
  }
}

:where(.css-dev-only-do-not-override).ant-layout-footer,
:where(.css-dev-only-do-not-override).ant-layout {
  background-color: $color-dark-blue;
}

.ant-drawer {
  z-index: $z-index-top;
}

/* Menu */
.ant-menu.ant-menu-root {
  background: transparent;
}

.ant-menu-item  {
  .ant-menu-title-content {
    &:hover {
      a {
        color: $color-dark-blue;
      }
    }

    a {
      color: $color-dark-blue;
    }
  }

  &.ant-menu-item-active {
    .ant-menu-title-content a {
      color: $color-blue;
    }
  }

  &.ant-menu-item-selected {
    .ant-menu-title-content a {
      color: white;
    }
  }
}

.ant-card-meta-description {
  display: flex;
  flex-direction: column;
  gap: $x;
}

/* ANTD */
.ant-layout-content {
  padding: 24px;

  @include desktop {
    padding: 50px;
  }
}

/* LIGHT THEME */
.themeLight {
  .ant-layout-sider {
    background-color: $color-light-gray;
  }

  .ant-layout-content,
  .ant-layout-footer,
  .ant-layout-header {
    background-color: white;
  }
}


/* DARK THEME */
.themeDark {
  background-color: $color-dark-blue;

  span[aria-label="menu"] svg {
    fill: white;
  }

  aside .ant-menu-title-content a {
    color: white;
  }

  .ant-layout-content,
  .ant-layout-footer,
  .ant-layout-header,
  .ant-layout {
    background-color: $color-dark-blue;
  }
}
