// COLOR
$color-bg-dark-blue: #0f172a;
$color-text-lite: #e2e8f0;

// MOBILE
$mobile: 375px;

// TABLET
$tablet-sm: 640px;
$tablet: 768px;
$tablet-lg: 960px;
$tablet-xlg: 1024px;

// DESKTOP
$desktop-sm: 1160px;
$desktop: 1280px;

// MARGIN STEPS
$x: 8px;
$x0\5: 12px;
$x2: 16px;
$x2\5: 20px;
$x3: 24px;
$x3: 24px;
