@use '../../../src/assets/styles/variables' as *;
@use '../../../src/assets/styles/mixins/media-queries' as *;

.nav {
  display: flex;
  flex-direction: column;
  font-size: $x2;

  @include desktop {
    gap: $x3;
  }
}

